In [5]:
import pandas as pd

df = pd.read_parquet("../../data/fhvhv_tripdata_2020-03.parquet")
df.head(5)

#
#   hvfhs_license_num: 회사 면허 번호
#   dispatching_base_num: 지역 라이센스 번호
#   pickup_datetime: 승차 시간
#   dropoff_datetime: 하차 시간
#   PULocationID: 승차 지역 아이디
#   DOLocationID: 하차 지역 아이디
#   SR_Flag: 합승 여부

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0005,B02510,None,2020-03-01 00:00:12,NaT,2020-03-01 00:03:40,2020-03-01 00:23:39,81,159,8.655,...,1.90,0.00,NaN,0.0,19.65,N,N,N,N,N
1,HV0005,B02510,None,2020-03-01 00:22:03,NaT,2020-03-01 00:28:05,2020-03-01 00:38:57,168,119,3.523,...,0.85,0.00,NaN,0.0,9.37,N,N,N,N,N
2,HV0003,B02764,B02764,2020-02-29 23:57:45,2020-03-01 00:01:04,2020-03-01 00:03:07,2020-03-01 00:15:04,137,209,4.070,...,1.38,2.75,NaN,0.0,16.24,N,Y,,N,N
3,HV0003,B02764,B02764,2020-03-01 00:04:06,2020-03-01 00:15:48,2020-03-01 00:18:42,2020-03-01 00:38:42,209,80,4.730,...,1.23,0.75,NaN,0.0,21.76,Y,N,,N,N
4,HV0003,B02764,B02764,2020-03-01 00:42:46,2020-03-01 00:43:18,2020-03-01 00:44:24,2020-03-01 00:58:44,256,226,4.030,...,1.79,0.00,NaN,0.0,19.64,N,N,,N,N